/*!**********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/global.css ***!
  \**********************************************************************/
html {
  height: 100%;
}

body,
.pure-g,
.pure-g [class*="pure-u"],
.markdown-body {
  font-family: "Monda", -apple-system, "Pingfang SC", "Noto Sans CJK SC", "思源黑体", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji";
}

body {
  line-height: 1.2;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 14px;
  width: 100%;
  overflow-x: hidden;
  background: #eee;
}

::selection {
  background: #cce2ff;
  color: inherit;
}

a {
  text-decoration: none;
  color: #0085a1;
}

a:hover {
  color: #2d3e50;
}

.markdown-body li + li {
  margin-top: 0;
}

#wrap,
#sidebar {
  transition: all 0.2s ease-out;
}

#wrap {
  position: relative;
}

#sidebar {
  position: fixed;
  margin-left: -160px;
  width: 160px;
  z-index: 1001;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: hidden;
  line-height: 1.5;
  overflow-y: auto;
  background: #111;
}

#sidebar a {
  color: #999;
  border: none;
  white-space: normal;
  padding: 0.625em 1em;
}

#sidebar .fa {
  width: 16px;
  text-align: center;
  margin-right: 0.2em;
}

#sidebar .pure-menu-open {
  background: transparent;
  border: 0;
}

#sidebar .pure-sidebar ul {
  border: none;
  background: transparent;
  display: block;
}

#sidebar ul,
#sidebar .menu-item-divided {
  border-top: 1px solid #333;
  margin-top: 3px;
  padding-top: 3px;
}

#sidebar li a:hover,
#sidebar li a:focus {
  background: #333;
}

#sidebar .pure-menu-heading {
  font-size: 125%;
  letter-spacing: 0.1em;
  color: #fff;
  margin-top: 0;
  padding: 0.5em 0.8em;
  text-transform: uppercase;
}
#sidebar .pure-menu-heading:hover,
#sidebar .pure-menu-heading:focus {
  color: #999;
}

@media (max-width: 58em) {
  #layout.active {
    position: relative;
    left: 160px;
  }
}

@media (min-width: 58em) {
  #wrap {
    padding-left: 160px;
    left: 0;
  }
  #sidebar {
    left: 160px;
  }
  .menu-link {
    position: fixed;
    left: 160px;
    display: none;
  }
  #wrap.active .menu-link {
    left: 160px;
  }
}

#main > header,
#main > .content {
  max-width: 768px;
  margin: 0 auto;
  padding: 2em 1em;
}

#main > header {
  text-align: center;
  border-bottom: 1px solid #eee;
  letter-spacing: 0.05em;
}

#main > header h1 {
  font-size: 300%;
  margin: 0;
  font-weight: normal;
}

/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/index.css ***!
  \*********************************************************************/
.splash {
  margin: 0;
  /* background: #1f8dd6; */
  background: linear-gradient(52.78deg, #003edd 30.03%, #0b7bf8 89.59%);
  font-size: 1.2em;
  vertical-align: middle;
  /* color: white; */
}

.splash .title {
  text-align: right;
  text-transform: uppercase;
  font-size: 500%;
  margin: 1em 0;
  /* font-family: "Monda", "Hack", "Consolas", monospace; */
  /* background: linear-gradient(66.26deg, #771f89 -5.22%, #834cef 46.12%, #636cea 99.41%); */
  background: -webkit-gradient(linear, right bottom, left top, from(#64c8ff), to(#9fd));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.splash .share-links {
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.splash .share-links i {
  width: 1em;
  margin-right: 0.2em;
}

.splash .share-links a {
  margin-left: 1em;
  border-left: 3px solid white;
  padding-left: 1em;
  display: block;
  line-height: 1.5em;
  color: white;
  /* font-family: "Hack", "Consolas", monospace; */
}

.content {
  line-height: 1.6em;
}

.content article {
  background: white;
  margin-bottom: 1em;
  padding: 1em 2em;
  box-shadow: 0 1px 3px rgba(26, 26, 26, 10%);
  box-sizing: border-box;
}

.content article header a {
  margin-bottom: 0.2em;
  color: black;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2em;
  display: inline-block;
  position: relative;
}

.content article header a::before {
  background-color: #555;
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.content article header a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.content .tags {
  font-size: 0.9em;
}

.content .tag {
  border: 1px solid #777;
  border-radius: 999em;
  margin: 0 0.5em 0.6em 0.1em;
  padding: 0 0.7em;
  color: #777;
  display: inline-block;
  text-decoration: none;
}

.content article .text {
  font-size: 1.1em;
}

