<%= require("/header.ejs")({htmlWebpackPlugin}) %>
<section class="splash-container">
  <div class="splash">
    <h1 class="splash-head">yzy1's blog</h1>
    <p class="splash-subhead">hello, world</p>
  </div>
</section>
<section class="content">
  <article class="pinned">
    <header><a>Lorem ipsum dolor sit amet</a></header>
    <div class="tags">
      <a href="##" class="tag tag-red">Lorem</a>
      <a href="##" class="tag tag-green">Ipsum</a>
    </div>
    <section class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur cum temporibus eveniet
      quaerat voluptatem ipsum sit cupiditate dolorum, similique nostrum repudiandae vero incidunt
      ipsam labore numquam voluptate amet soluta.
    </section>
  </article>
  <article>
    <header><a>Lorem ipsum dolor sit amet</a></header>
    <div class="tags">
      <a href="##" class="tag">Lorem</a>
      <a href="##" class="tag">Ipsum</a>
    </div>
    <section class="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur cum temporibus eveniet
      quaerat voluptatem ipsum sit cupiditate dolorum, similique nostrum repudiandae vero incidunt
      ipsam labore numquam voluptate amet soluta.
    </section>
  </article>
</section>
<%= require("/footer.ejs")({}) %>
