<%= require("/header.ejs")({htmlWebpackPlugin}) %>
<header>
  <h1><%= post.conf.title %></h1>
</header>
<section class="content">
  <div class="markdown-body"><%= post.html %></div>
</section>
<%= require("/footer.ejs")({}) %>
