<div id="sidebar" class="pure-menu">
  <a class="pure-menu-heading" href="/index.html">yzy1</a>
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <a href="/index.html" class="pure-menu-link">博客</a>
    </li>
    <li class="pure-menu-item">
      <a href="/index.html" class="pure-menu-link">标签</a>
    </li>
    <li class="pure-menu-item">
      <a href="/index.html" class="pure-menu-link">模板</a>
    </li>
    <li class="pure-menu-item menu-item-divided">
      <a href="/index.html" class="pure-menu-link">友链</a>
    </li>
    <li class="pure-menu-item">
      <a href="/about.html" class="pure-menu-link">关于</a>
    </li>
  </ul>
</div>
