<div id="sidebar" class="pure-menu">
  <a class="pure-menu-heading" href="/index.html">yzy1</a>
  <ul class="pure-menu-list">
    <li class="pure-menu-item">
      <a href="/index.html" class="pure-menu-link"><i class="fa fa-home"></i>博客</a>
    </li>
    <li class="pure-menu-item">
      <a href="/index.html" class="pure-menu-link"><i class="fa fa-tags"></i>标签</a>
    </li>
    <li class="pure-menu-item">
      <a href="/index.html" class="pure-menu-link"><i class="fa fa-file-code-o"></i>模板</a>
    </li>
    <li class="pure-menu-item menu-item-divided">
      <a href="/index.html" class="pure-menu-link"><i class="fa fa-external-link"></i>友链</a>
    </li>
    <li class="pure-menu-item">
      <a href="/about.html" class="pure-menu-link"><i class="fa fa-user"></i>关于</a>
    </li>
  </ul>
</div>
